.env
.env.*
!.env.example
!.env.test.example
flyway.user.toml
/gathering-matters-db/flyway.user.toml.superuser
/gathering-matters-db/directus.login

.idea/
.neon

node_modules/
gathering-matters-directus/extensions-src/*/dist/
gathering-matters-directus/extensions/

gathering-matters-directus/uploads/

.DS_Store
Thumbs.db
